@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$pixel-width: 411px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin pixel {
  @media (min-width: #{$pixel-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fff;

  .about-page-content {
    .background {
      position: relative;
      height: 50vh;
      overflow: hidden;
      width: 100%;
      z-index: -1;

      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        position: relative;
        z-index: 99;
        color: #ffffff;
        text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        font-size: 2.5rem;

        @include tablet {
          font-size: 3rem;
        }
        @include desktop {
          font-size: 4rem;
        }
      }

      img {
        position: absolute;
        top: 0;
        @include desktop {
          min-width: 100%;
        }
      }
    }

    .content {
      width: 80%;
      margin: auto;
      padding: 2rem 0;
      color: #222222;
      // text-align: center;

      @include tablet {
        padding: 2.5rem 0;
      }
      @include desktop {
        padding: 4rem 0;
        font-size: 1.2rem;
      }
    }
  }

  .event-page-content {
    padding-top: 64px;

    @include desktop {
      padding-top: 80px;
    }
  }

  .execom-page-content {
    padding-top: 64px;

    @include desktop {
      padding-top: 80px;
    }
  }
}
