*{

	}
	.cal{

position: absolute;
height: auto;
left: 38%;
top: 14%;

}

.upcom{
	position: absolute;
width: 539px;
height: 71px;
left: 117px;
top: 100px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 83px;

color: #000000;
}

.date{
	position: absolute;
width: 245px;
height: 29px;
left: 117px;
top: 190px;

font-family: Helvetica;
font-size: 24px;
line-height: 28px;


color: #000000;
}

.boxup{
position: absolute;
top:470px;
left: -0px;
width: 100%;
}
.rec{
margin-top: 700px;
margin-left: -8px;
border-width: 0px;
height: 600px;
width: 100%;
padding-right: 16px;
background-color: #79ACEB;
}
.boxdown{
position: absolute;
top:1250px;
left: -0px;
width: 100%;
}

.click{
	position: absolute;
width: 230px;
height: 50px;
left: 160px;
top: 260px;

background: #4273BC;
border-radius: 56.5px;
}

.clicktext{
position: absolute;
width: 386px;
height: 47px;
left: 205px;
top: 255px;
text-decoration: none;
font-family: Helvetica;
font-size: 20px;
line-height: 59px;

color: #fff;
}

.boxup2{
position: absolute;
top:2850px;
left: -0px;
width: 100%;
}
.boxdown2{
position: absolute;
top:3500px;
left: -0px;
width: 100%;
padding-bottom: 200px;
}
.rec2{
margin-top: 1700px;
margin-left: -8px;
border-width: 0px;
height: 600px;
width: 100%;
padding-right: 16px;
background-color: #79ACEB;
}
.y1{
position: absolute;
width: 212px;
height: 57px;
left: 11%;
top: 480px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 57px;

color: #FFFFFF;
}

.y2{
position: absolute;
width: 212px;
height: 57px;
left: 11%;
top: 1590px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 57px;

color: #000;
}
.y3{
position: absolute;
width: 212px;
height: 57px;
left: 11%;
top: 2890px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 57px;

color: #FFFFFF;
}
.timeline{
	position: absolute;
	width:80%;
	background-color:none;
	color:#fff;
	top: 550px;
	left: 11%;
	padding:0px 20px;
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid white;
	padding:0px 5px;
}
.timeline ul li{
	padding:10px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:1px 5px;
	font-size:15px;
	text-align:center;
	font-family: Helvetica;
}
.timeline ul li .content h3{
	color:white;
	font-size:17px;
	padding-top:0px;
	font-family: Helvetica;
}
.timeline ul li .content p{
	padding:0px 0px 0px 0px;
	font-size:15px;
	font-family: Helvetica;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#397089;
}
.timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}

.timeline2{
	position: absolute;
	width:80%;
	background-color:none;
	color:#fff;
	top: 1660px;
	left: 11%;
	padding:0px 20px;
}
.timeline2 ul{
	list-style-type:none;
	border-left:2px solid black;
	padding:0px 5px;
}
.timeline2 ul li{
	padding:10px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline2 ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:1px 5px;
	font-size:15px;
	text-align:center;
	font-family: Helvetica;
}
.timeline2 ul li .content h3{
	color:black;
	font-size:17px;
	padding-top:0px;
	font-family: Helvetica;
}
.timeline2 ul li .content p{
	padding:0px 0px 0px 0px;
	font-size:15px;
	color: black;
	font-family: Helvetica;
}
.timeline2 ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline2 ul li:hover{
	background-color:#E5E5E5;
	text-decoration-color: white;
}
.timeline2 ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}

.timeline3{
	position: absolute;
	width:80%;
	background-color:none;
	color:#fff;
	top: 2960px;
	left: 11%;
	padding:0px 20px;
}
.timeline3 ul{
	list-style-type:none;
	border-left:2px solid white;
	padding:0px 5px;
}
.timeline3 ul li{
	padding:10px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline3 ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:1px 5px;
	font-size:15px;
	text-align:center;
	font-family: Helvetica;
}
.timeline3 ul li .content h3{
	color:white;
	font-size:17px;
	padding-top:0px;
	font-family: Helvetica;
}
.timeline3 ul li .content p{
	padding:0px 0px 0px 0px;
	font-size:15px;
	font-family: Helvetica;
}
.timeline3 ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline3 ul li:hover{
	background-color:#397089;
}
.timeline3 ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}
.arduino{

height: 100px;
width: auto;
border-radius: 10px;
}
.pro{
height: 150px;
width: auto;
border-radius: 10px;
}
@media only screen and (max-width: 1017px){
.cal{
	top: 80px;
	width: 500px;
	}
.upcom{
	top: 40px;
	font-size: 30px;
}
.date{
	top: 110px;
	font-size: 20px;
}
.click{
width: 210px;
height: 50px;
left: 130px;
top: 190px;
}

.clicktext{
left: 170px;
top: 185px;
font-size: 20px;
}
}
@media only screen and (max-width:822px){
	.cal{
	top: 80px;
	width: 400px;
	}
.upcom{
	font-size: 20px;
}
.date{
	font-size: 15px;
	top: 100px;
}
.click{
width: 130px;
height: 30px;
left: 120px;
top: 150px;
}

.clicktext{
left: 132px;
top: 135px;
font-size: 15px;
}
}
@media only screen and (max-width: 649px){
.upcom{
	font-size: 20px;
	left: 60px;

}
.date{
	font-size: 15px;
	left: 60px;
	top: 100px;
}
.click{
width: 130px;
height: 30px;
left: 70px;
top: 150px;
}

.clicktext{
left: 85px;
top: 135px;
font-size: 15px;
}
}
@media only screen and (max-width: 496px){
	div.shadow {
    position:absolute;
    max-width:90%;
    max-height:45%;
    top:25%;
    left:15.5%;
    overflow:visible;
}
img.cal {
    position:relative;
    max-width:100%;
    margin-top:-80%;
    margin-left:-50%;
}
.upcom{
	font-size: 20px;
	left: 130px;
	top: 250px;

}
.date{
	font-size: 15px;
	left: 160px;
	top: 310px;
}
.click{
width: 130px;
height: 30px;
left: 140px;
top: 360px;
}

.clicktext{
left: 155px;
top: 345px;
font-size: 15px;
}
}
@media only screen and (max-width: 1248px){
	.arduino{

height: 80px;
}
.pro{
height: 112px;
}
}
@media only screen and (max-width: 1248px){
	.boxup2{
		top: 2770px;
	}
	.timeline3{
		top: 2880px;
	}.y3{
		top: 2800px;
	}
}
@media only screen and (max-width: 1018px){
	.timeline ul li .content h3{
	font-size:15px;
}
.timeline ul li .content p{
	font-size:14px;
}
.rec{
	margin-top: 500px; 
	height: 800px;
	}
.timeline2 ul li .content h3{
	font-size:15px;
}
.timeline2 ul li .content p{
	font-size:14px;
}
.timeline3 ul li .content h3{
	font-size:15px;
}
.timeline3 ul li .content p{
	font-size:14px;
}
.timeline2{
	top: 1550px;
}
.y2{
	top: 1480px;
}
.boxup2{
		top: 2570px;
	}
	.timeline3{
		top: 2660px;
	}.y3{
		top: 2590px;
	}
	.rec2{
		margin-top: 1400px;
		height: 600px;
	}
	.boxdown2{
		top: 3200px;
	}
}
@media only screen and (max-width: 845px){
	.timeline ul li .content h3{
	font-size:12px;
}
.timeline ul li .content p{
	font-size:13px;
}
.timeline2 ul li .content h3{
	font-size:12px;
}
.timeline2 ul li .content p{
	font-size:13px;
}
.timeline3 ul li .content h3{
	font-size:12px;
}
.timeline3 ul li .content p{
	font-size:13px;
}
}
@media only screen and (max-width: 771px){
	.timeline ul li .content h3{
	font-size:10px;
}
.timeline ul li .content p{
	font-size:11px;
}
.timeline2 ul li .content h3{
	font-size:10px;
}
.timeline2 ul li .content p{
	font-size:11px;
}
.timeline3 ul li .content h3{
	font-size:10px;
}
.timeline3 ul li .content p{
	font-size:11px;
}
}

@media only screen and (max-width: 643px){
	.boxdown{
		top: 1600px;
	}
	.rec{
		height: 1200px;
	}
	.timeline2{
		top: 1800px;
	}
	.y2{
		top: 1730px;
	}
	.rec2{
		margin-top: 1270px;
	}
	.boxup2{
		top: 2800px;
	}
	.timeline3{
		top: 2890px;
	}.y3{
		top: 2820px;
	}
	.rec2{
		margin-top: 1200px;
		height: 600px;
	}
	.boxdown2{
		top: 3500px;
	}
}
@media only screen and (max-width: 520px){
	.boxdown{
		top: 1900px;
	}
	.rec{
		height: 1500px;
	}
	.timeline2{
		top: 2100px;
	}
	.y2{
		top: 2030px;
		}
	.boxup2{
		top: 3200px;
	}
	.rec2{
		margin-top: 1300px;
		height: 700px;
	}
	.boxdown2{
		top: 3950px;
	}
	.timeline3{
		top: 3300px;
	}
	.y3{
		top: 3230px;
	}
}
@media only screen and (max-width: 472px){
	.boxup2{
		top: 3400px;
	}
	.rec2{
		margin-top: 1500px;
	}
	.boxdown2{
		top: 4200px;
	}
	.timeline3{
		top: 3480px;
	}
	.y3{
		top: 3410px;
	}
}
@media only screen and (max-width: 433px){
	.boxup2{
		top:3600px;
	}
	.rec2{
		margin-top: 1700px;
	}
	.timeline3{
		top: 3660px;
	}
	.y3{
		top: 3590px;
	}
	.boxdown2{
		top: 4400px;
	}
}
@media only screen and (max-width: 400px){
	.boxdown{
		top: 2000px;
	}
	.rec{
		height: 1500px;
	}
	.timeline2{
		top: 2150px;
	}
	.y2{
		top: 2080px;
		}
		.boxup2{
		top:3700px;
	}
	.rec2{
		margin-top: 1800px;
	}
	.boxdown2{
		top: 4500px;
	}
	.timeline3{
		top: 3780px;
	}
	.y3{
		top: 3710px;
	}
}
@media only screen and (max-width: 368px){
	.boxdown{
		top: 2200px;
	}
	.rec{
		height: 1700px;
	}
	.timeline2{
		top: 2350px;
	}
	.y2{
		top: 2280px;
		}
		.boxup2{
		top: 3980px;
	}
	.rec2{
		margin-top: 1850px;
		height: 900px;
	}
	.boxdown2{
		top: 4900px;
	}
	.timeline3{
		top: 4050px;
	}
	.y3{
		top: 3980px;
	}
}