
.cal{

position: absolute;
width: 691px;
height: 361px;
left: 518px;
top: 100px;

}

.upcom{
	position: absolute;
width: 539px;
height: 71px;
left: 117px;
top: 100px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 83px;

color: #000000;
}

.date{
	position: absolute;
width: 245px;
height: 29px;
left: 117px;
top: 190px;

font-family: Helvetica;
font-size: 24px;
line-height: 28px;


color: #000000;
}

.boxup{
position: absolute;
top:440px;
left: -0px;
}

.boxmid{
position: absolute;
top:800px;
left: -0px;
}
.resbox{
position: absolute;
top:800px;
left: -0px;
}
.resbox2{
position: absolute;
top:800px;
left: -0px;
}
.boxdown{
position: absolute;
top:1100px;
left: -0px;
}

.click{
	position: absolute;
width: 230px;
height: 50px;
left: 160px;
top: 260px;

background: #4273BC;
border-radius: 56.5px;
}

.clicktext{
position: absolute;
width: 386px;
height: 47px;
left: 205px;
top: 255px;
text-decoration: none;
font-family: Helvetica;
font-size: 20px;
line-height: 59px;

color: #fff;
}

.boxup2{
position: absolute;
top:2850px;
left: -0px;
}
.resbox3{
position: absolute;
top:2850px;
left: -0px;
}

.boxdown2{
position: absolute;
top:3300px;
left: -0px;
}

.y1{
position: absolute;
width: 212px;
height: 57px;
left: 177px;
top: 480px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 57px;

color: #FFFFFF;
}

.y2{
position: absolute;
width: 212px;
height: 57px;
left: 177px;
top: 1590px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 57px;

color: #000;
}
.y3{
position: absolute;
width: 212px;
height: 57px;
left: 177px;
top: 2890px;

font-family: Helvetica;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 57px;

color: #FFFFFF;
}
.timeline{
	position: absolute;
	width:800px;
	background-color:none;
	color:#fff;
	top: 550px;
	left: 160px;
	padding:0px 20px;
}
.timeline ul{
	list-style-type:none;
	border-left:2px solid white;
	padding:0px 5px;
}
.timeline ul li{
	padding:10px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:1px 5px;
	font-size:15px;
	text-align:center;
	font-family: Helvetica;
}
.timeline ul li .content h3{
	color:white;
	font-size:17px;
	padding-top:0px;
	font-family: Helvetica;
}
.timeline ul li .content p{
	padding:0px 0px 0px 0px;
	font-size:15px;
	font-family: Helvetica;
}
.timeline ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline ul li:hover{
	background-color:#397089;
}
.timeline ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}
@media (max-width:300px){
	.timeline{
		width:100%;
		padding:30px 5px 30px 10px;
	}
	.timeline ul li .content h3{
		color:#34ace0;
		font-size:15px;
	}

}

.timeline2{
	position: absolute;
	width:800px;
	background-color:none;
	color:#fff;
	top: 1660px;
	left: 160px;
	padding:0px 20px;
}
.timeline2 ul{
	list-style-type:none;
	border-left:2px solid black;
	padding:0px 5px;
}
.timeline2 ul li{
	padding:10px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline2 ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:1px 5px;
	font-size:15px;
	text-align:center;
	font-family: Helvetica;
}
.timeline2 ul li .content h3{
	color:black;
	font-size:17px;
	padding-top:0px;
	font-family: Helvetica;
}
.timeline2 ul li .content p{
	padding:0px 0px 0px 0px;
	font-size:15px;
	color: black;
	font-family: Helvetica;
}
.timeline2 ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline2 ul li:hover{
	background-color:#E5E5E5;
	text-decoration-color: white;
}
.timeline2 ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}

.timeline3{
	position: absolute;
	width:800px;
	background-color:none;
	color:#fff;
	top: 2960px;
	left: 160px;
	padding:0px 20px;
}
.timeline3 ul{
	list-style-type:none;
	border-left:2px solid white;
	padding:0px 5px;
}
.timeline3 ul li{
	padding:10px 20px;
	position:relative;
	cursor:pointer;
	transition:.5s;
}
.timeline3 ul li span{
	display:inline-block;
	background-color:#1685b8;
	border-radius:25px;
	padding:1px 5px;
	font-size:15px;
	text-align:center;
	font-family: Helvetica;
}
.timeline3 ul li .content h3{
	color:white;
	font-size:17px;
	padding-top:0px;
	font-family: Helvetica;
}
.timeline3 ul li .content p{
	padding:0px 0px 0px 0px;
	font-size:15px;
	font-family: Helvetica;
}
.timeline3 ul li:before{
	position:absolute;
	content:'';
	width:10px;
	height:10px;
	background-color:#34ace0;
	border-radius:50%;
	left:-11px;
	top:28px;
	transition:.5s;
}
.timeline3 ul li:hover{
	background-color:#397089;
}
.timeline3 ul li:hover:before{
	background-color:#0F0;
	box-shadow:0px 0px 10px 2px #0F0;
}
.arduino{

height: 100px;
width: auto;
border-radius: 10px;
}
.pro{
height: 150px;
width: auto;
border-radius: 10px;
}

@media only screen and (max-width: 411px){
.cal{
width: auto;
height: 180px;
left: 40px;
top: 70px;
}

.upcom{
width: 539px;
height: 71px;
left: 50px;
top: 230px;
}

.date{

width: 245px;
height: 29px;
left: 140px;
top: 310px;

}.boxdown{
top:2210px;
left: -0px;
}

.resbox{
top:1330px;
left: -0px;
}
.resbox2{
top:1765px;
left: -0px;
}
.boxmid{
top:900px;
left: -0px;
}

.click{
width: 230px;
height: 50px;
left: 90px;
top: 380px;
}

.clicktext{
width: 386px;
height: 47px;
left: 135px;
top: 375px;
}

.boxup2{
top:4850px;
left: -0px;
}

.boxdown2{
top:5620px;
left: -0px;
}
.resbox3{
top:5220px;
left: -0px;
}


.y1{
left: 20px;
}

.y2{
top: 2700px;
left: 20px;
}
.y3{
top: 4900px;
left: 20px;
}
.timeline{
	width:350px;
	top: 550px;
	left: 20px;

}
.timeline2{
	width:350px;
	top: 2770px;
	left:20px;
}
.timeline3{
	width:350px;
	top: 4970px;
	left: 20px;
}
.arduino{

height: 100px;
width: auto;
border-radius: 10px;
}
.pro{
height: 150px;
width: auto;
border-radius: 10px;
}
}